body {
  background-color: #eff3c6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #77d8d8;
  height: 1px;
  width: 10%;
}

h1,
h2 {
  color: #0779e4;
}

h3 {
  color: #4cbbb9;
}
